<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
    <style>
        body {
            width: 95% !important;
            margin: 0 auto !important ;
        }
        .main {
            padding-top: 100px ;
            padding-bottom: 100px ;
        }
        .top.menu .item {
            padding: 30px ;
            font-size: large ;
        }
        .ui.image {
            border-radius: 5px ;
        }
    </style>
</head>
<body>
    <div class="ui container">
        <div class="ui top fixed one item brown inverted menu">
            <div class="item">{{title}}</div>
        </div>
        <div class="ui bottom fixed two item labeled icon brown inverted menu">
            <a class="{{ title=='รายการอาหาร' ? 'active' : '' }} item" href="/menu"><i class="utensils icon"></i>Menu</a>
            <a class="{{ title!='รายการอาหาร' ? 'active' : '' }} item" href="/yourOrder"><i class="file alternate icon"></i>Your Order</a>
        </div>
        <div class="main">
            {{{ await $slots.main() }}}
        </div>       
    </div>
</body>
</html>
