<div class="card">
    <div class="content">
        <img class="left floated ui image" width="120px" src="/images/{{image}}.png">
        <div>
            <div class="ui header">{{ name }}</div>
            <br><br>
            <div class="left floated"><h4 class="ui header">{{ price }} บาท</h4></div>
            <a href="{{ action }}"class="right floated ui small brown button">สั่งอาหาร</a>
        </div>
    </div>
</div>